<!-- Index Users -->
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <ul class="uk-breadcrumb uk-alert-success">
        <li><span></span></li>
        <li routerLinkActive="active">
            <a [routerLink]="['/dashboard']">Dashboard</a>
        </li>  

        <li routerLinkActive="active">
            <a>Usuarios</a>
        </li>
    </ul>

    <div class="uk-card uk-card-default uk-card-body uk-width-auto">
        <!-- Title -->
        <h3 class="uk-card-title uk-text-bold uk-text-uppercase uk-text-primary uk-text-center">USUARIOS</h3>

        <!-- Table Users -->
        <div class="uk-overflow-auto">
            <!-- Button Add  -->
            <button type="button" class="uk-button uk-button-primary uk-position-top-right" routerLinkActive="active" [routerLink]="['/users/create']"><span uk-icon="plus-circle"></span></button>
          
            <table id="miTabla" class="uk-table uk-table-hover uk-table-middle" style="width:100%">
                <thead>
                    <tr>
                        <th class="uk-table-shrink">Acciones</th>
                        <th class="uk-table-shrink">Usuario</th>
                        <th class="uk-table-shrink">Nombre</th>
                        <th class="uk-table-shrink">Apellido Paterno</th>
                        <th class="uk-table-shrink">Corro Electrónico</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>
                            <button class="uk-button uk-button-secondary"><span uk-icon="pencil"></span></button>
                            <button class="uk-button uk-button-danger"><span uk-icon="trash"></span></button>
                        </td>
                        <td class="uk-text-truncate">Lseffser.</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                    </tr>

                    <tr>
                        <td>
                            <button class="uk-button uk-button-secondary"><span uk-icon="pencil"></span></button>
                            <button class="uk-button uk-button-danger"><span uk-icon="trash"></span></button>
                        </td>
                        <td class="uk-text-truncate">Lseffser.</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                    </tr>

                    <tr>
                        <td>
                            <button class="uk-button uk-button-secondary"><span uk-icon="pencil"></span></button>
                            <button class="uk-button uk-button-danger"><span uk-icon="trash"></span></button>
                        </td>
                        <td class="uk-text-truncate">Lseffser.</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                    </tr>

                    <tr>
                        <td>
                            <button class="uk-button uk-button-secondary"><span uk-icon="pencil"></span></button>
                            <button class="uk-button uk-button-danger"><span uk-icon="trash"></span></button>
                        </td>
                        <td class="uk-text-truncate">Lseffser.</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                    </tr>

                    <tr>
                        <td>
                            <button class="uk-button uk-button-secondary"><span uk-icon="pencil"></span></button>
                            <button class="uk-button uk-button-danger"><span uk-icon="trash"></span></button>
                        </td>
                        <td class="uk-text-truncate">Lseffser.</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                        <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
