<!-- Create navbar -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container uk-navbar-transparent uk-background-default uk-box-shadow-medium" uk-navbar style="position: relative; z-index: 980;">
        <div class="uk-navbar-left">
            <a href="#offcanvas-slide" class="uk-button" uk-toggle><span uk-icon="menu"></span></a>
        </div>

        <div class="uk-navbar-left" routerLinkActive="active">
            <a class="uk-navbar-item uk-logo" [routerLink]="['']"><img src="assets/img/logo70px.png" alt="Bramex"></a>
        </div>
        
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active uk-visible@s"><a>{{ user.name }} {{ user.surname }}</a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- Silebar -->
<div id="offcanvas-slide" uk-offcanvas>
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a>Bramex</a></li>
            <li routerLinkActive="active">
                <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>

            <li class="uk-active"><a>Usuario</a></li>
            <li>
                <a href="#">Mi información</a>
            </li>

            <li class="uk-active"><a>Administración</a></li>
            <li>
                <a href="#">Productos</a>
            </li>
            <li>
                <a href="#">Categorias</a>
            </li>

            <li class="uk-active"><a>Personal</a></li>
            <li routerLinkActive="active">
                <a [routerLink]="['/users']">Crear Usuarios</a>
            </li>

            <li class="uk-nav-divider uk-margin-medium-top"></li>
            <li>
                <a href="#">Cerrar Sesión <span uk-icon="sign-in"></span></a>
            </li>
        </ul>
    </div>
</div>